.cta-button, input[type="submit"]{
	display:inline-block;
	background:rgba(97, 103, 124, .8);
	padding:0.8em 4em 0.6em 4em;
	color:$color-white;
	text-transform:uppercase;
	font-size:1em;
	letter-spacing:1px;
	transition:.3s;
	text-decoration:none;
	border:2px solid $color-white;
	cursor:pointer;
	font-family:$primary;
	&:hover{
		background:rgba(97, 103, 124, 1);
	}
	&.alt{
		border:none;
		font-size:1em;
		background-color: transparent;
		padding:0;
		width:100%;
		@include position(absolute, 50% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
	}
}

.button-container{
	position:relative;
	background-size: contain;
	background-repeat: no-repeat;
	width: 155px;
	height:50px;
	&:hover{
		.alt{
			color:#F3A638;
		}
	}
}