footer{
	@include position(absolute, null null null 50%);
	@include transform(translateX(-50%));
	bottom:-400px;
	transition:.8s ease;
	&.animate{
		bottom:0;
	}
	.footer-container{
		display: flex;
		align-items: flex-end;
		width:90vw;
		margin:0 auto;
		#legal-button{
			text-transform:uppercase;
			font-size:1rem;
			color:$color-white;
			background-color: #060F28;
			border: 1px solid $color-white;
			border-bottom:none;
			padding:5px 25px;
			&:hover{
				text-shadow:0 0 2em #6E92C7,0 0 2em #6E92C7,0 0 2em #6E92C7;
			}
		}
		.character-cluster{
			width:70%;
			display: block;
			margin:0 auto;
			position:relative;
			z-index:0;
		}
	}
}

//No footer characters
body.create, body.presentation{
	footer{
		.character-cluster{
			display:none;
		}
	}
}

// body.choose{
// 	@media (max-height: 850px){
// 		.character-cluster{
// 			display:none;
// 		}
// 	}
// }