*, *:before, *:after{
	box-sizing:border-box;
}

html{
	padding:0;
	margin:0;
	height:100%;
	@include media($mobile){
		height:auto
	}
}
body{
	position:relative;
	padding:0;
	margin:0;
	background:$color-gray-bg;
	background-color:#AB0003;
	height:100%;
	min-height:100%;
	@include media($mobile){
		overflow-x:hidden;
		height:auto;
	}
	&.home{
		height: 100vh;
	}
}

p,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}

a{
	text-decoration:none;
}

img{
	max-width:100%;			
}

.background-container{
	height:100%;
	width:100%;
	z-index: -1;
	@include position(absolute, 0 null null 0);
}

.background{
	position:absolute;
	top:0;
    width: 100%;
    margin: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top center;
    height:100%;
    @include media($tablet){
    	width:100%;
    }
    @include media($mobile){
    	// max-height:1105px;
    }
}

.overlay{
	background:rgba(0,22,48,0.8);
	@include position(fixed, 0 null null 0);
	@include size(100% 100vh);
	z-index:2;
	&.small-screens{
		display:none;
		@include media($tablet){
			display:block;
		}
	}
}

.escape{
	position:fixed;
	right:25px;
	top:25px;
	cursor:pointer;
	z-index:10;
	@include size(25px);
	@include media($mobile){
		right:25px;
		top:25px;
	}
	&:before, &:after{
		content:'';
		display:block;
		position:absolute;
		background:$color-white;
		height:3px;
		width:100%;
		top:50%;
		transform:translateY(-50%);
	}
	&:before{
		transform:rotate(45deg);
	}
	&:after{
		transform:rotate(-45deg);
	}
}

.center{
	text-align:center;
}

.dynamic-content{
	width:90vw;
	margin:0 auto;
	max-width:$desktop-large-inner;
	z-index:2;
	@include clearfix;
}

.warn{
	color:#f00;
}

#row::-webkit-scrollbar-thumb{
	background:red;
}