section.choose{
	padding-top: 4%;
	max-width:$desktop-large-inner;
	margin:0 auto;
	@include media($tablet){
		padding-top: 25px;
	}
	.mammoth-container{
		display: flex;
		position:absolute;
		width:100%;
		left:0;
		bottom:0;
		justify-content: space-between;
		z-index: -1;
		// bottom:-500px;
		.mammoth{
			width:650px;
			height:100%;
		}
	}
	.title-container{
		margin-bottom:50px;
		text-align: center;
		.choose-logo{
			width:300px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.title-content{
			display: flex;
			justify-content: center;
			align-items:center;
			h1{
				font-size:2.4rem;
				margin:0 10px;
				@include media($mobile){
					margin-bottom:25px;
				}
			}
			img{
				height:100%;
			}
		}
	}
	.row{
		margin:0 auto;
		position:relative;
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		position:relative;
		z-index: 1;
		// max-height: 600px;
		// overflow-y:scroll;
	}
	.card-container{
	    height: 275px;
	    width: 275px;
	    background-repeat: no-repeat;
	    background-repeat: no-repeat;
	    background-size: contain;
	    position:relative;
	}
	.card-item{
		width:80%;
		@include position(absolute, 50% null null 50%);
		@include transform(translateY(-50%) translateX(-50%));
		@include media($tablet){
			width:50%;
		}
		@include media($mobile){
			width:100%;
			float:none;
		}
		&:hover{
			.info{
				opacity:1;
			}
		}
		.card-inner{
			position:relative;
		}
		.info{
			opacity:0;
			background:$color-brand-fade;
			display:flex;
			justify-content:center;
			align-items:center;
			transition:.5s;
			padding:15px;
			text-align:center;
			@include size(100%);
			@include position(absolute, 50% null null 50%);
			@include transform(translateY(-50%) translateX(-50%));
		}
		img{
			display:block;
		}
	}
}

body.choose{
	background-color: #040C2B;
}