section.home{
	max-width:$desktop-large-inner;
	padding-top:5%;
	margin:0 auto;
	.intro{
		display:block;
		margin:0 auto 25px auto;
	}
	.content-container{
		display:flex;
		align-items:center;
		justify-content: center;
		flex-direction: column;
		.title-content{
			align-items:center;
			text-align: center;
			top:-250px;
			opacity: 0;
			transition: .4s;
			transition-delay: .7s;
			position:absolute;
			&.animate{
				position:relative;
				top:0;
				opacity: 1;
			}
			.title{
				.logo{
					width: 370px;
					@include media($mobile){
						width:275px;
					}
				}
			}
		}
		.content{
			text-align: center;
			.cards{
				margin:10px 0;
				width:70%;
				top:-400px;
				position:absolute;
				opacity: 0;
				transition: .4s;
				transition-delay: .5s;
				&.animate{
					opacity: 1;
					position: relative;
					top:0;
				}
			}
			.tagline{
				font-size:2.5rem;
				color:$color-white;
				width:75%;
				margin:0 auto;
				margin-bottom:25px;
				letter-spacing:1px;
				top:-500px;
				position:absolute;
				opacity: 0;
				transition: .4s;
				transition-delay: .3s;
				&.animate{
					opacity: 1;
					position: relative;
					top:0;
				}
			}
			.get-started{
				background-size:contain;
				background-repeat: no-repeat;
				position: relative;
				display:flex;
				align-items:center;
				justify-content: center;
				width: 175px;
			    height: 50px;
			    margin: 0 auto;
			    z-index:1;
			    top:-500px;
				position:absolute;
				opacity: 0;
				transition: .4s;
				&.animate{
					opacity: 1;
					position: relative;
					top:0;
				}
			    .home-btn-text{
			    	position:relative;
			    	color:$color-white;
			    }
			}
		}
		@include media($tablet){
			display:block;
		}
	}
	.col{
		width:50%;
		@include media($desktop){
			padding:0 25px;
		}
		@include media($tablet){
			width:100%;
		}
		&:first-child{
			@include media($tablet){
				margin-bottom:25px;
			}
		}
	}
}